@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Numans&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  padding: 0;
  margin: 0;
}
p { margin: 0 !important; }
textarea{ resize: none; }
.font-numans{
  font-family: "Numans", sans-serif;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
  background: #F7FAFD;
}
a {
  text-decoration: none !important;
}

.orbitron-family {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.copilot-card{
  transition: all 0.5s ease;
}
.copilot-card:hover{
  border-color: #c2c6ce !important;
  box-shadow: -1px 6px 10px rgba(0, 0, 0, 0.1);

}
.bg-primary{
  background: #202B3E !important;
}
.option-styling{
  border: 1px solid #202B3E !important;
  border-radius: 4px;
  padding: 6px;
  cursor: pointer;
  font-weight: 500;
  transition: all 0.4s ease;
}
.option-styling:hover{
  border: 1px solid transparent !important;
  color: white;
  background: #202B3E;
}
.border-primary{
  border: 2px solid #202B3E !important;
}
.bg-white{
  background: white;
}
.bg-gray{
  background: #EDF0F5;
}
.fs-secondary{
  color: #374151;
}

.fs-italic{ font-style: italic;}

.fs-10px{ font-size: 10px; }
.fs-11px{ font-size: 11px; }
.fs-12px{ font-size: 12px; }
.fs-13px{ font-size: 13px; }
.fs-14px{ font-size: 14px; }
.fs-15px{ font-size: 15px; }
.fs-16px{ font-size: 16px; }
.fs-17px{ font-size: 17px; }
.fs-18px{ font-size: 18px; }
.fs-19px{ font-size: 19px; }

.fw-300{ font-weight: 300; }
.fw-400{ font-weight: 400; }
.fw-500{ font-weight: 500; }
.fw-600{ font-weight: 600; }
.fw-700{ font-weight: 700; }

.cursor-pointer{
  cursor: pointer;
}

input.no-style-text-input {
  background-color: transparent;
  outline: none;
  border: none;
}
input.no-style-text-input::-webkit-inner-spin-button,
input.no-style-text-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
input.no-style-text-input:focus {
  outline: none;
}
.hide-scrollbar {
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

*::-webkit-scrollbar {
  display: none;
}

.cursor{
  cursor: pointer;
}
@keyframes blink {
  from, to { background: transparent; }
  50% { background: white; }
}

.mainDashboard{
  /* background-image: url('./assets/bg.png'); */
  background-size: contain;
  background-position: center;
}
.gutter.gutter-horizontal {
  height: 8px;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
  cursor: col-resize;
}

.text-truncate-1{
  display: -webkit-box;
  -webkit-line-clamp: 1; 
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.text-truncate-3{
  display: -webkit-box;
  -webkit-line-clamp: 3; 
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}