* {
  padding: 0;
  margin: 0;
}
p { margin: 0 !important; }
textarea{ resize: none; }

body {
  margin: 0;
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #F7FAFD;
}
a {
  text-decoration: none !important;
}


.bg-primary{
  background: #202B3E !important;
}
.option-styling{
  border: 1px solid #202B3E !important;
  border-radius: 4px;
  padding: 6px;
  cursor: pointer;
  font-weight: 500;
  transition: all 0.4s ease;
}
.option-styling:hover{
  border: 1px solid transparent !important;
  color: white;
  background: #202B3E;
}
.border-primary{
  border: 2px solid #202B3E !important;
}
.bg-white{
  background: white;
}
.bg-gray{
  background: #EDF0F5;
}
.fs-secondary{
  color: #374151;
}

.fs-italic{ font-style: italic;}

.fs-10px{ font-size: 10px; }
.fs-11px{ font-size: 11px; }
.fs-12px{ font-size: 12px; }
.fs-13px{ font-size: 13px; }
.fs-14px{ font-size: 14px; }
.fs-15px{ font-size: 15px; }
.fs-16px{ font-size: 16px; }
.fs-17px{ font-size: 17px; }
.fs-18px{ font-size: 18px; }
.fs-19px{ font-size: 19px; }

.fw-300{ font-weight: 300; }
.fw-400{ font-weight: 400; }
.fw-500{ font-weight: 500; }
.fw-600{ font-weight: 600; }
.fw-700{ font-weight: 700; }

.cursor-pointer{
  cursor: pointer;
}